[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
description: Cancel the print, retract 10mm of filament and park
gcode:
    G92 E0                         ; zero the extruder
    G1 E-20.0 F3600                ; retract filament
    
    PARK

    
    TURN_OFF_HEATERS
    M107
    M400

    CLEAR_PAUSE
    BED_MESH_CLEAR
    SDCARD_RESET_FILE
    
    STOP_FILTER
    LIGHT_OFF
    #SET_LED LED=btt_mini12864 RED=0 GREEN=0 BLUE=0 INDEX=3
    #SET_LED LED=sb_leds RED=0 GREEN=0 BLUE=0 WHITE=1 INDEX=1 TRANSMIT=0
    #SET_LED LED=sb_leds RED=0 GREEN=0 BLUE=0 WHITE=0 INDEX=2 TRANSMIT=0
    #SET_LED LED=sb_leds RED=0 GREEN=0 BLUE=0 WHITE=0 INDEX=3
   # STATUS_OFF
    BASE_CANCEL_PRINT
